<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}
    <title>Ecoleta - Seu marketplace de coleta de resíduos</title>
    {% endblock title %}
    
    <link rel="shortcut icon" href="/assets/favicon.svg" type="image/x-icon">
    <!-- CSS -->
    <link rel="stylesheet" href="/styles/main.css">

    {% block styles %}
    {% endblock styles %}

    <link rel="stylesheet" href="/styles/responsive.css">
</head>

<body>

    <div id="{{pageId}}">
        {% block content %}
        {% endblock content %}
    </div>

    {% block modal %}
    {% endblock modal %}

    {% block scripts %}
    {% endblock scripts %}

</body>

</html>